<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/Menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"> </header>
        <h1> Buscar cliente por apellido </h1>
        <a th:href="@{/cliente/listado}"> Regresar </a>
        <form th:action="@{/cliente/modificar}" method="post">
            <label for="apellidos">
                <input type="text" name="apellidos">
            </label>
            <br/>
            <input type="submit" name="Subir" value="Buscar">
        </form>
        <footer th:replace="layout/plantilla :: footer">
        </footer>
    </body>
</html>
