<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/Menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"> </header>
        <div class="contenido">

            <h2> Nuestros articulos: </h2>

            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th> Descripcion </th>
                            <th> Precio </th>

                        </tr>
                    </thead>
                    <tr th:each="articulo : ${articulos}">
                        <td> [[${articulo.descripcion}]]  </td>
                        <td style="text-align: right">  
                            [[${#numbers.formatDecimal(articulo.precio, 2, 3)}]] 
                        </td>
                        <td>  <a th:href="@{/carrito/agregar/} + ${articulo.idArticulo}"> Agregar Articulo  </a> </td>
                    </tr>
                </table>
            </div>

            <div th:if="${articulos == null or articulos.empty}">
                <h2>No hay articulos que mostrar</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
